:root {
  --title-color: #009048;
  --title-letter-color: #91ccaf;
  --btn-bg: #006cfc;
  --btn-border: #001997;
  --btn-fontColor: #d8fcfc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Odibee Sans", cursive;
  background-image: url("/src/assets/wallpaper.svg");
}

.root {
  max-width: 375px;
  height: 100vh;
}
